## Any calculation logs:
/**/log.decomposePar
/**/log.checkMesh
/**/log.gmsh
/**/log.gmshToFoam
/**/log.reactingFoam

## These will be commited once project is finished:
/case/constant/polyMesh/

## Files copied from base case.
/**/constant/
/**/system/
!/case/constant/
!/case/system/

## Intermediate results:
/**/[0-9]*/
!/**/0.00000000/
!/**/20.00000000/

## Foam and parallel run:
dynamicCode/
processor*/

# Ignore intermediate mesh.
*.msh

# Files used to open Paraview.
case.foam

# Any new case on waiting list.
*-new/
