## These will be commited once project is finished:
/**/log.checkMesh
/**/log.gmsh
/**/log.gmshToFoam
/**/log.reactingFoam
/case/constant/polyMesh/

# Files copied from base case.
/**/constant/
/**/system/
!/case/constant/
!/case/system/

# Ignore intermediate mesh.
*.msh

# Files used to open Paraview.
case.foam

# Any new case on waiting list.
*-new/
