## These will be commited once project is finished:
/**/log.checkMesh
/**/log.gmsh
/**/log.gmshToFoam
/**/log.reactingFoam

# Do not commit mesh or mechanisms at this level.
/**/constant/polyMesh
/**/constant/reactions
/**/constant/thermo
*.msh

# Files used to open Paraview.
case.foam

# Any new case on waiting list.
*-new/
