## Any calculation logs:
/**/log.chemFoam

## These will be commited once project is finished:
/**/chemFoam.out

## These are generated automatically:
/**/0.000000/
/**/1.000000/
/case/constant/initialConditions

## Files copied from base case.
/**/constant/
/**/system/
!/case/constant/
!/case/system/
